@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* color palette */
:root {
  --color-label: hsl(249, 10%, 26%);
  --color-text: hsl(246, 25%, 77%);

  --color-bg: hsl(0, 100%, 74%);
  --color-primary-button: hsl(154, 59%, 51%);
  --color-secondary-button: hsl(248, 32%, 49%);
}

/* Typography */
body {
  background-color: var(--color-bg);
  background-image: url(/images/bg-intro-mobile.png);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 2.1ch;
}

p {
  font-size: 1.5rem;
  line-height: 2.6ch;
}

/* blocks */
main {
  margin: 2rem;
  display: grid;
}

.text-content {
  margin: 7.2rem 0 5rem;
}
