@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* color palette */
:root {
  --color-label: hsl(249, 10%, 26%);
  --color-text: hsl(245, 86%, 97%);

  --color-bg: hsl(0, 100%, 74%);
  --color-primary-button: hsl(154, 59%, 51%);
  --color-secondary-button: hsl(248, 32%, 49%);
}

/* Typography */
body {
  background-color: var(--color-bg);
  background-image: url(/images/bg-intro-mobile.png);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1 {
  color: white;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 2.1ch;
}

p {
  font-size: 1.5rem;
  line-height: 2.6ch;
}

/* blocks */
main {
  max-width: 1000px;
  margin: 7.2rem 3rem;
  display: grid;
}

.text-content {
  margin-bottom: 5rem;
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.367);
  position: relative;
}

/* button */
.button {
  font-size: 1.4rem;
  border-radius: 10px;
  border: 0;
  color: inherit;
  line-height: 2.6ch;
  text-decoration: none;
  width: 100%;
  padding: 1.4rem 0;
}

.button b {
  color: white;
}

.button--primary {
  background-color: var(--color-primary-button);
  text-transform: uppercase;
  margin-top: 3rem;
}

.button--secondary {
  padding: 1.4rem 6rem;
  background-color: var(--color-secondary-button);
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.367);
}

/* form block */
.form input {
  padding: 1.5rem;
  width: 100%;
  border: 1px solid hsla(244, 9%, 36%, 0.514);
  border-radius: 5px;
}

.error-image {
  bottom: -42px;
  content: url(/images/icon-error.svg);
  display: inline;
  position: relative;
  right: -172px;
  visibility: hidden;
}

.error-message {
  color: var(--color-bg);
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
  position: relative;
  right: 12px;
  text-align: right;
  top: 8px;
  visibility: hidden;
}

.error {
  visibility: visible;
}

.TnC {
  padding: 0 2.3rem;
  color: hsl(242, 13%, 64%);
  font-size: 1rem;
  margin-bottom: 0;
}

.TnC b {
  color: rgba(255, 0, 0, 0.503);
}

::placeholder {
  color: var(--color-label);
  font-weight: 600;
  outline: 0;
}

@media screen and (min-width: 500px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }

  main {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  h1 {
    font-size: 3.5rem;
    width: 400px;
  }

  p {
    font-size: 1.8rem;
  }

  .text-content {
    width: 450px;
    text-align: left;
    align-self: center;
  }
}
